.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body,
#root,
.app {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.header {
  background-color: red;
}

.main {
  flex: 1 0 auto;
}

.footer {
}
